<a href="https://colab.research.google.com/github/hindia-vic/machinelearning/blob/main/Nairobi_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [114]:
data=pd.read_csv('/content/sample_data/apartments.csv')
data.head()

,Unnamed: 0,title,location,bedrooms,bathrooms,price,rate
0,0,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
1,1,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
2,2,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
3,3,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80 000,Per Month
4,4,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month

In [116]:
#assign the unnamed column as index col
data.head()

,Unnamed: 0,title,location,bedrooms,bathrooms,price,rate
0,0,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
1,1,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
2,2,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
3,3,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80 000,Per Month
4,4,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month

In [117]:
data.set_index('Unnamed: 0',inplace=True)

In [118]:
data.rate.unique()

array(['Per Month', 'Per Day'], dtype=object)

In [120]:
data.rate.value_counts()

rate
Per Month    2395
Per Day       125
Name: count, dtype: int64

In [121]:
data.tail()

,title,location,bedrooms,bathrooms,price,rate
Unnamed: 0,,,,,,
2515,3 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",3,3,75 000,Per Month
2516,3 Bedroom Apartment / Flat to rent in Nyali,NaN,3,2,45 000,Per Month
2517,2 Bedroom Apartment / Flat to rent in Spring V...,"Grevillea Grove Spring Valley, Spring Valley, ...",2,3,65 000,Per Month
2518,4 Bedroom Apartment / Flat to rent in Muthaiga,"Muthaiga, Nairobi",4,5,300 000,Per Month
2519,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",2,2,100 000,Per Month

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      2520 non-null   object
 1   location   2144 non-null   object
 2   bedrooms   2520 non-null   int64
 3   bathrooms  2520 non-null   int64
 4   price      2520 non-null   object
 5   rate       2520 non-null   object
dtypes: int64(2), object(4)
memory usage: 137.8+ KB

In [123]:
data.location.fillna('unknown',inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      2520 non-null   object
 1   location   2520 non-null   object
 2   bedrooms   2520 non-null   int64
 3   bathrooms  2520 non-null   int64
 4   price      2520 non-null   object
 5   rate       2520 non-null   object
dtypes: int64(2), object(4)
memory usage: 137.8+ KB

In [124]:
#converting price to float
data['price'] = data['price'].str.replace(',', '').str.replace(' ', '')
data['price'] = data['price'].astype(float)

In [125]:
data.head()

,title,location,bedrooms,bathrooms,price,rate
Unnamed: 0,,,,,,
0,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,Per Month
1,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70000.0,Per Month
2,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,Per Month
3,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,Per Month
4,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110000.0,Per Month

In [126]:
data.drop('title',axis=1,inplace=True)
data.head()

,location,bedrooms,bathrooms,price,rate
Unnamed: 0,,,,,
0,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,Per Month
1,"Kileleshwa, Nairobi",3,4,70000.0,Per Month
2,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,Per Month
3,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,Per Month
4,"Kileleshwa, Nairobi",1,1,110000.0,Per Month

In [127]:
data.head()

,location,bedrooms,bathrooms,price,rate
Unnamed: 0,,,,,
0,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,Per Month
1,"Kileleshwa, Nairobi",3,4,70000.0,Per Month
2,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,Per Month
3,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,Per Month
4,"Kileleshwa, Nairobi",1,1,110000.0,Per Month

In [128]:

dummies = pd.get_dummies(data.location, drop_first=True, dtype=int)
data=pd.concat([data,dummies],axis='columns')
data.head()

,location,bedrooms,bathrooms,price,rate,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi",...,"Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,Per Month,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,"Kileleshwa, Nairobi",3,4,70000.0,Per Month,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,Per Month,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,Per Month,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"Kileleshwa, Nairobi",1,1,110000.0,Per Month,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
filtered_data = data[data['rate'] == 'Per Day']
filtered_data.head()

,location,bedrooms,bathrooms,price,rate,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi",...,"Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
8,"Nyali, Mombasa",1,1,5000.0,Per Day,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,"Nyali, Mombasa",1,1,5000.0,Per Day,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
31,"Nyali, Mombasa",1,1,5000.0,Per Day,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
51,"Nyali, Mombasa",1,1,5000.0,Per Day,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
72,"Nyali, Mombasa",1,1,5000.0,Per Day,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [130]:
#converting the rate from per day to per month
data['price'] = data.apply(lambda x: x['price'] * 30 if x['rate'] == 'Per Day' else x['price'], axis=1)
data.head()

,location,bedrooms,bathrooms,price,rate,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi",...,"Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,Per Month,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,"Kileleshwa, Nairobi",3,4,70000.0,Per Month,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,Per Month,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,Per Month,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"Kileleshwa, Nairobi",1,1,110000.0,Per Month,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
#dropping the rate column since all rate are converted to monthly
data.drop('rate', axis=1, inplace=True)
data.head()

,location,bedrooms,bathrooms,price,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi","Links Rd Mombasa, Nyali, Mombasa",...,"Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200000.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,"Kileleshwa, Nairobi",3,4,70000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Links Rd Mombasa, Nyali, Mombasa",3,2,38000.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,"Near Valley Arcade, Lavington, Nairobi",3,3,80000.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"Kileleshwa, Nairobi",1,1,110000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
data.drop('location', axis=1, inplace=True)
data.head()

,bedrooms,bathrooms,price,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi","Links Rd Mombasa, Nyali, Mombasa","Muthaiga, Nairobi","Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
0,3,3,200000.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,3,4,70000.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,2,38000.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,3,3,80000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,1,1,110000.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [133]:
X=data.drop('price',axis=1)
y=data['price']

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [135]:
from sklearn.linear_model import LinearRegression

In [136]:
model=LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9702509692945884

In [137]:
X_test.head()

,bedrooms,bathrooms,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi","Links Rd Mombasa, Nyali, Mombasa","Muthaiga, Nairobi","Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,
196,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
986,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1090,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
387,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2221,2,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [138]:
model.predict(X_test.head())

array([ 57478.61400131, 115695.00573612,  65000.        , 150000.        ,
        55000.        ])

In [139]:
y_test.head()

Unnamed: 0
196      78000.0
986     100000.0
1090     65000.0
387     150000.0
2221     55000.0
Name: price, dtype: float64

In [140]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.95936913, 0.96841729, 0.96610448, 0.96485658, 0.97105319])

In [141]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from  sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [142]:
def find_best_model_using_gridsearchcv(X, y):
    algos = {
        'linear_regression': {
            'model': Pipeline([
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())
            ]),
            'params': {
                'regressor__fit_intercept': [True, False],
                'regressor__positive': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['squared_error', 'friedman_mse'],
                'splitter': ['best', 'random']
            }
        }
    }

    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X, y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])
best_model_df = find_best_model_using_gridsearchcv(X, y)
print(best_model_df)

               model  best_score  \
0  linear_regression    0.965960
1              lasso    0.965957
2      decision_tree    1.000000

                                         best_params
0  {'regressor__fit_intercept': True, 'regressor_...
1                {'alpha': 1, 'selection': 'random'}
2  {'criterion': 'squared_error', 'splitter': 'be...

In [143]:
X_train.head()

,bedrooms,bathrooms,"Jabavu court, Kilimani, Nairobi","Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu","Kileleshwa Nairobi, Kileleshwa, Nairobi","Kileleshwa, Nairobi","Kilimani, Nairobi","Links Rd Mombasa, Nyali, Mombasa","Muthaiga, Nairobi","Near Valley Arcade, Lavington, Nairobi","Nyali, Mombasa","Off Othaya road, Lavington, Nairobi","Riverside Dr Nairobi, Riverside, Nairobi","Shanzu, Mombasa","Thika Rd Nairobi, Kahawa Wendani, Nairobi","Vihiga road, Kileleshwa, Nairobi","Westlands downtown, Westlands, Nairobi","Westlands, Nairobi",unknown
Unnamed: 0,,,,,,,,,,,,,,,,,,,
51,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1943,4,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
495,3,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1672,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1359,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [144]:
def predict_price(location,bedrooms,bathrooms):
    loc_index=np.where(X.columns==location)[0][0]
    x=np.zeros(len(X.columns))
    x[0]=bedrooms
    x[1]=bathrooms
    if loc_index>=0:
      x[loc_index]=1
    return model.predict([x])[0]

In [145]:
X.columns

Index(['bedrooms', 'bathrooms', 'Jabavu court, Kilimani, Nairobi',
       'Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu',
       'Kileleshwa Nairobi, Kileleshwa, Nairobi', 'Kileleshwa, Nairobi',
       'Kilimani, Nairobi', 'Links Rd Mombasa, Nyali, Mombasa',
       'Muthaiga, Nairobi', 'Near Valley Arcade, Lavington, Nairobi',
       'Nyali, Mombasa', 'Off Othaya road, Lavington, Nairobi',
       'Riverside Dr Nairobi, Riverside, Nairobi', 'Shanzu, Mombasa',
       'Thika Rd Nairobi, Kahawa Wendani, Nairobi',
       'Vihiga road, Kileleshwa, Nairobi',
       'Westlands downtown, Westlands, Nairobi', 'Westlands, Nairobi',
       'unknown'],
      dtype='object')

In [146]:
predict_price('Jabavu court, Kilimani, Nairobi',2,2)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

83360.62407348312

In [147]:
predict_price('Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu',3,3)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

55000.000000000065